{% extends 'student_base.html' %}
{% load static %}
{% block content %}
<div class="row heading">
    <div class="text-center fs-3">lecture<b class="text-mycolor1">cat
        <i class="fa-solid fa-key fa-spin lic"></i>
        </b>
        <hr class="w-50 mx-auto">
        Lorem Ipsum sit amet consecuter adipiscing elit.
    </div>

</div>
<!----heading end-->
<div class="row">
    <div class="col-sm-10 bg-light mx-auto">
        <div class="row">
            {% for r n categories %}
            <!--start catrgory-->
            <div class="col-sm-3 p-1" style="position: relative;">
                <div class="card shadow-lg p-2 mb-3">
                    <span class="position-absolute top-0 start-50 translate-middle btn bg-mycolor1">{% r.title %}

                    </span>
                    <img class="card-img-top" src="{{r.picture}}"/>

                </div>


            </div>
             <!--end catrgory-->
             {% endfor %}
        </div>

    </div>

</div>
{% endblock %}